menu "Example Configuration"

config TARGET_DOMAIN_URI
    string "Target Uri"
    default "coap://californium.eclipse.org"
    help
        Target uri for the example to use.

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) for the example to use.

endmenu