# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_DEFAULT_PSRAM_CLK_IO                             CONFIG_SPIRAM_CLK_IO
CONFIG_DEFAULT_PSRAM_CS_IO                              CONFIG_SPIRAM_CS_IO
