menu "Menu for CHIPB"
    visible if IDF_TARGET_CHIPB

    config EXT_CONFIG1_FOR_CHIPB_MENU
        bool "Config for chip B"
        depends on IDF_TARGET_CHIPB

    config EXT_CONFIG2_FOR_CHIPB_MENU
        bool "Config for chip B (depend on the visibility of the menu)"

endmenu

config EXT_CONFIG3_FOR_CHIPB
    bool "Config for chip B"
    depends on IDF_TARGET_CHIPB

config EXT_CONFIG4
    bool "Config for every chip (note that the config is defined at multiple places)"
    depends on IDF_TARGET_CHIPB
