# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_ADC_DISABLE_DAC              CONFIG_ADC_DISABLE_DAC_OUTPUT
CONFIG_ADC_CAL_EFUSE_TP_ENABLE      CONFIG_ADC_CALI_EFUSE_TP_ENABLE
CONFIG_ADC_CAL_EFUSE_VREF_ENABLE    CONFIG_ADC_CALI_EFUSE_VREF_ENABLE
CONFIG_ADC_CAL_LUT_ENABLE           CONFIG_ADC_CALI_LUT_ENABLE
