# Python package requirements for ESP-IDF. These are the so called core features which are installed in all systems.

setuptools
packaging
# importlib_metadata: is part of python3.8 and newer as importlib.metadata
importlib_metadata; python_version < "3.8"
click
pyserial
cryptography
pyparsing
pyelftools
idf-component-manager
esp-coredump
esptool
esp-idf-kconfig
esp-idf-monitor
esp-idf-size
esp-idf-panic-decoder
construct

# gdb extensions dependencies
freertos_gdb

# littlefs-python has to be this specific version due to minimal Python version in IDF v5.0 and v5.1
littlefs-python == 0.9.3; python_version < "3.8"
