menu "Example Configuration"

    config EXAMPLE_PORT
        string "Asio example server port number"
        default "2222"
        help
            Port number used by Asio example.

    config EXAMPLE_SERVER_IP
        string "Asio example server ip"
        default "FROM_STDIN"
        help
            Asio example server ip for this client to connect to.
            Leave default "FROM_STDIN" to enter the server address via serial terminal.

endmenu
