line-length = 120
target-version = "py38"

[format]
    quote-style = "single"
    docstring-code-format = true

[lint]
    select = [
        "A",    # flake8-builtins
        "E",    # pycodestyle
        "F",    # pyflakes
        "W",    # pycodestyle
        "I",    # reorder-imports
    ]
    ignore = [
        "E203", # whitespace before ':'
        "E221", # multiple spaces before operator
        "E225", # missing whitespace around operator
        "E231", # missing whitespace after ',', ';', or ':'
        "E241", # multiple spaces after ','
    ]

    # Exclude a variety of commonly ignored directories.
    exclude = [
        ".git",
        "__pycache__",
        # submodules
        "components/bootloader/subproject/components/micro-ecc/micro-ecc",
        "components/bt/host/nimble/nimble",
        "components/cmock/CMock",
        "components/JSON/cJSON",
        "components/mbedtls/mbedtls",
        "components/openthread/openthread",
        "components/unity/unity",
        "components/spiffs/spiffs",
        # autogenerated scripts
        "components/protocomm/python/constants_pb2.py",
        "components/protocomm/python/sec0_pb2.py",
        "components/protocomm/python/sec1_pb2.py",
        "components/protocomm/python/sec2_pb2.py",
        "components/protocomm/python/session_pb2.py",
        "components/wifi_provisioning/python/wifi_ctrl_pb2.py",
        "components/wifi_provisioning/python/wifi_scan_pb2.py",
        "components/wifi_provisioning/python/wifi_config_pb2.py",
        "components/wifi_provisioning/python/wifi_constants_pb2.py",
        "components/esp_local_ctrl/python/esp_local_ctrl_pb2.py",
    ]

[lint.isort]
    force-single-line = true
