CONFIG_EXAMPLE_PA_CTRL_IO=48
CONFIG_EXAMPLE_I2C_SDA_IO=17
CONFIG_EXAMPLE_I2C_SCL_IO=18
CONFIG_EXAMPLE_I2S_MCLK_IO=16
CONFIG_EXAMPLE_I2S_BCLK_IO=9
CONFIG_EXAMPLE_I2S_WS_IO=45
CONFIG_EXAMPLE_I2S_DIN_IO=10
CONFIG_EXAMPLE_I2S_DOUT_IO=8
