menu "esp_eth TEST_APPS Configuration"

    config ETH_TEST_UNITY_TEST_TASK_PRIO
        int "Unity test task priority"
        range 0 25
        default 5
        help
            Unity test task priority.

    config ETH_TEST_UNITY_TEST_TASK_STACK
        int "Unity test task stack size"
        default 4096
        help
            Unity test task stack size in B.

    config ETH_TEST_MAC_ADDR_UI
        bool "Expect Universal & Individual MAC address"
        default y
        help
            Enable this option to expect Universal & Individual MAC address.
            This should be disabled for SPI Ethernet devices.

    config ETH_TEST_PHY_ADDRESS_DISABLED
        bool "Disable PHY address test"
        default n
        help
            Disable PHY address testing.
            This should be disabled for SPI Ethernet devices.

    config ETH_TEST_LOOPBACK_DISABLED
        bool "Disable loopback test"
        default n
        help
            Disable loopback testing as some chips may not support it.

    config ETH_TEST_10MB_LOOPBACK_DISABLED
        depends on !ETH_TEST_LOOPBACK_DISABLED
        bool "Disable 10MB loopback test"
        default n
        help
            Disable 10MB loopback testing as some chips may not support it.

    config ETH_TEST_10MB_LOOPBACK_IGNORE_FAILURES
        depends on !ETH_TEST_LOOPBACK_DISABLED
        bool "Ignore 10MB loopback test failures"
        default y
        help
            Ignore failures in 10MB loopback tests.

    config ETH_TEST_LOOPBACK_WITH_AUTONEGOTIATION_DISABLED
        depends on !ETH_TEST_LOOPBACK_DISABLED
        bool "Disable loopback with autonegotiation test"
        default n
        help
            Disable loopback testing with autonegotiation.

    config ETH_TEST_FILL_RX_BUFFER_ITERATIONS
        int "Number of iterations for fill RX buffer test"
        range 1 100
        default 10
        help
            Number of iterations to fill RX buffer of module under test.
            For internal EMAC, it should be set as ETH_DMA_RX_BUFFER_NUM.
            For SPI modules, it should be set as RX_MEM_SIZE / ETH_MAX_PACKET_SIZE, where RX_MEM_SIZE is
            module specific RX buffer size in bytes as defined in datasheet.

    config ETH_TEST_LAN8720_ERRATA_ENABLED
        bool "Enable LAN8720 errata workaround"
        default n
        help
            Enable workaround for LAN8720 errata.
            Enable only when LAN8720 is under test!!

    config ETH_TEST_W5500_IP6_MCAST_DEVIATION_ENABLED
        bool "Enable W5500 IPv6 multicast deviation test"
        default n
        help
            W5500 always receives IPv6 multicast packets, even if the filter is set to block multicast.
            Enable only when W5500 is under test!!

    config ETH_TEST_STRESS_TEST_TASK_PRIO
        int "Start/stop stress test task priority"
        range -1 25
        default -1
        help
            The Rx Task may occupy all the resources under heavy Rx traffic and it would not be possible
            to access the Ethernet module to stop it. Therefore, the test task priority can be set higher than
            the Rx task to be able to preempt the Rx task.
            This option should be set for SPI Ethernet modules (>15), otherwise set -1 to use default priority.

endmenu
