# Common settings for production builds.
# For product-specific settings, see sdkconfig.prod1 and sdkconfig.prod2.

# This selects 'func_prod.c' file to be compiled and linked, see CMakeLists.txt.
CONFIG_EXAMPLE_FUNC_IMPL_PROD=y

# This sdkconfig file can also include additional options specific to this
# configuration. For example, we can optimize the binary size of a production
# build, and remove all log messages.
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
