# Defaults for generating a new "sdkconfig" file (project settings).
# https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/build-system.html#custom-sdkconfig-defaults
#
# NOTE - if this file changes, to get new defaults, you must erase any existing
# "sdkconfig" file (this will undo manual settings from "idf.py menuconfig").

# In this example, the default build (obtained with 'idf.py build')
# targets a hypothetical development platform.
CONFIG_EXAMPLE_PRODUCT_NAME="Blinky Development Board"

# This selects 'func_dev.c' file to be compiled and linked, see CMakeLists.txt.
CONFIG_EXAMPLE_FUNC_IMPL_DEV=y
