CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# silent the error check, as the error string are stored in rodata, causing RTL check failure
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_HAL_ASSERTION_SILENT=y

CONFIG_CAM_CTLR_MIPI_CSI_ISR_CACHE_SAFE=y
CONFIG_CAM_CTLR_ISP_DVP_ISR_CACHE_SAFE=y
CONFIG_CAM_CTLR_DVP_CAM_ISR_CACHE_SAFE=y
