# enable the experimental features for higher PSRAM speed
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

# LCD_CAM support 24 data lines at most
CONFIG_EXAMPLE_LCD_DATA_LINES_24=y
CONFIG_LV_COLOR_DEPTH_24=y

# Default GPIO assignment
CONFIG_EXAMPLE_LCD_VSYNC_GPIO=41
CONFIG_EXAMPLE_LCD_HSYNC_GPIO=39
CONFIG_EXAMPLE_LCD_DE_GPIO=43
CONFIG_EXAMPLE_LCD_PCLK_GPIO=33

# B0:B7 <=> DATA0:DATA7
CONFIG_EXAMPLE_LCD_DATA0_GPIO=34
CONFIG_EXAMPLE_LCD_DATA1_GPIO=12
CONFIG_EXAMPLE_LCD_DATA2_GPIO=10
CONFIG_EXAMPLE_LCD_DATA3_GPIO=40
CONFIG_EXAMPLE_LCD_DATA4_GPIO=42
CONFIG_EXAMPLE_LCD_DATA5_GPIO=27
CONFIG_EXAMPLE_LCD_DATA6_GPIO=29
CONFIG_EXAMPLE_LCD_DATA7_GPIO=31

# G0:G7 <=> DATA8:DATA15
CONFIG_EXAMPLE_LCD_DATA8_GPIO=16
CONFIG_EXAMPLE_LCD_DATA9_GPIO=14
CONFIG_EXAMPLE_LCD_DATA10_GPIO=21
CONFIG_EXAMPLE_LCD_DATA11_GPIO=23
CONFIG_EXAMPLE_LCD_DATA12_GPIO=26
CONFIG_EXAMPLE_LCD_DATA13_GPIO=28
CONFIG_EXAMPLE_LCD_DATA14_GPIO=30
CONFIG_EXAMPLE_LCD_DATA15_GPIO=32

# R0:R7 <=> DATA16:DATA23
CONFIG_EXAMPLE_LCD_DATA16_GPIO=22
CONFIG_EXAMPLE_LCD_DATA17_GPIO=20
CONFIG_EXAMPLE_LCD_DATA18_GPIO=18
CONFIG_EXAMPLE_LCD_DATA19_GPIO=6
CONFIG_EXAMPLE_LCD_DATA20_GPIO=0
CONFIG_EXAMPLE_LCD_DATA21_GPIO=15
CONFIG_EXAMPLE_LCD_DATA22_GPIO=17
CONFIG_EXAMPLE_LCD_DATA23_GPIO=19
