CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_FREERTOS_UNICORE=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
# Clang Xtensa bootloader is slightly larger than GCC; give it room.
CONFIG_PARTITION_TABLE_OFFSET=0x9000
