# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_FLASHMODE_QIO            CONFIG_ESPTOOLPY_FLASHMODE_QIO
CONFIG_FLASHMODE_QOUT           CONFIG_ESPTOOLPY_FLASHMODE_QOUT
CONFIG_FLASHMODE_DIO            CONFIG_ESPTOOLPY_FLASHMODE_DIO
CONFIG_FLASHMODE_DOUT           CONFIG_ESPTOOLPY_FLASHMODE_DOUT

CONFIG_MONITOR_BAUD             CONFIG_ESPTOOLPY_MONITOR_BAUD
CONFIG_MONITOR_BAUD_9600B       CONFIG_ESPTOOLPY_MONITOR_BAUD_9600B
CONFIG_MONITOR_BAUD_57600B      CONFIG_ESPTOOLPY_MONITOR_BAUD_57600B
CONFIG_MONITOR_BAUD_115200B     CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B
CONFIG_MONITOR_BAUD_230400B     CONFIG_ESPTOOLPY_MONITOR_BAUD_230400B
CONFIG_MONITOR_BAUD_921600B     CONFIG_ESPTOOLPY_MONITOR_BAUD_921600B
CONFIG_MONITOR_BAUD_2MB         CONFIG_ESPTOOLPY_MONITOR_BAUD_2MB
CONFIG_MONITOR_BAUD_OTHER       CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER
CONFIG_MONITOR_BAUD_OTHER_VAL   CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL
