# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_ESP32_RTC_CLK_SRC_INT_RC                         CONFIG_RTC_CLK_SRC_INT_RC
CONFIG_ESP32_RTC_CLK_SRC_EXT_CRYS                       CONFIG_RTC_CLK_SRC_EXT_CRYS
CONFIG_ESP32_RTC_CLK_SRC_EXT_OSC                        CONFIG_RTC_CLK_SRC_EXT_OSC
CONFIG_ESP32_RTC_CLK_SRC_INT_8MD256                     CONFIG_RTC_CLK_SRC_INT_8MD256
CONFIG_ESP32_RTC_EXT_CRYST_ADDIT_CURRENT_NONE           CONFIG_RTC_EXT_CRYST_ADDIT_CURRENT_NONE
CONFIG_ESP32_RTC_EXT_CRYST_ADDIT_CURRENT                CONFIG_RTC_EXT_CRYST_ADDIT_CURRENT
CONFIG_ESP32_RTC_EXT_CRYST_ADDIT_CURRENT_V2             CONFIG_RTC_EXT_CRYST_ADDIT_CURRENT_V2
CONFIG_ESP32_RTC_CLK_CAL_CYCLES                         CONFIG_RTC_CLK_CAL_CYCLES
CONFIG_ESP32_RTC_XTAL_CAL_RETRY                         CONFIG_RTC_XTAL_CAL_RETRY

CONFIG_ESP32_RTC_EXTERNAL_CRYSTAL_ADDITIONAL_CURRENT    CONFIG_RTC_EXT_CRYST_ADDIT_CURRENT
CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_RC               CONFIG_RTC_CLK_SRC_INT_RC
CONFIG_ESP32_RTC_CLOCK_SOURCE_EXTERNAL_CRYSTAL          CONFIG_RTC_CLK_SRC_EXT_CRYS
CONFIG_ESP32_RTC_CLOCK_SOURCE_EXTERNAL_OSC              CONFIG_RTC_CLK_SRC_EXT_OSC
CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_8MD256           CONFIG_RTC_CLK_SRC_INT_8MD256

CONFIG_SPIRAM_SUPPORT                                   CONFIG_SPIRAM
CONFIG_ESP32_SPIRAM_SUPPORT                             CONFIG_SPIRAM
CONFIG_WIFI_LWIP_ALLOCATION_FROM_SPIRAM_FIRST           CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP

CONFIG_ESP32_DEEP_SLEEP_WAKEUP_DELAY                    CONFIG_ESP_SLEEP_WAIT_FLASH_READY_EXTRA_DELAY
CONFIG_ESP_SLEEP_DEEP_SLEEP_WAKEUP_DELAY                CONFIG_ESP_SLEEP_WAIT_FLASH_READY_EXTRA_DELAY

CONFIG_ESP32_XTAL_FREQ_26                               CONFIG_XTAL_FREQ_26
CONFIG_ESP32_XTAL_FREQ_40                               CONFIG_XTAL_FREQ_40
CONFIG_ESP32_XTAL_FREQ_AUTO                             CONFIG_XTAL_FREQ_AUTO
CONFIG_ESP32_XTAL_FREQ                                  CONFIG_XTAL_FREQ
