menu "Example Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config EXAMPLE_TX_GPIO_NUM
        int "TX GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 2 if IDF_TARGET_ESP32C3
        default 20 if IDF_TARGET_ESP32S2
        default 21 if IDF_TARGET_ESP32
        default 4 if IDF_TARGET_ESP32S3
        help
            This option selects the GPIO pin used for the TX signal. Connect the
            TX signal to your transceiver.

    config EXAMPLE_RX_GPIO_NUM
        int "RX GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 3 if IDF_TARGET_ESP32C3
        default 21 if IDF_TARGET_ESP32S2
        default 22 if IDF_TARGET_ESP32
        default 5 if IDF_TARGET_ESP32S3
        help
            This option selects the GPIO pin used for the RX signal. Connect the
            RX signal to your transceiver.

endmenu
