menu "Example Configuration"

    config EXAMPLE_OPENSSL_SERVER_PORT
        int "Target port number"
        range 0 65535
        default 443
        help
            Target port number for the example to connect to.

endmenu
