CONFIG_IDF_TARGET="esp32s31"

CONFIG_UNITY_ENABLE_FIXTURE=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ESP_TASK_WDT_EN=n

# interface configuration
CONFIG_ETHERNET_INTERNAL_SUPPORT=y
CONFIG_ETHERNET_PHY_INTERFACE_DEFAULT=y
CONFIG_ETHERNET_PHY_YT8531=y
CONFIG_ETHERNET_DEFAULT_EVENT_HANDLER=n

# specific test configuration
# ESP32S31 has smaller internal Rx FIFO, hence more Rx buffers is used by default
CONFIG_ETH_TEST_FILL_RX_BUFFER_ITERATIONS=20
CONFIG_ETH_TEST_LOOPBACK_WITH_AUTONEGOTIATION_DISABLED=y
CONFIG_ETH_TEST_PHY_1000M_CAPABLE=y
# ESP32S31 provides only two universally administered MAC addresses in eFuse, so the internal EMAC
# gets a locally administered ETH MAC by default (see CONFIG_ESP32S31_UNIVERSAL_MAC_ADDRESSES).
CONFIG_ETH_TEST_MAC_ADDR_UI=n
