menu "Partition API Configuration"

    config ESP_PARTITION_ENABLE_STATS
        bool "Host test statistics enabled"
        depends on IDF_TARGET_LINUX
        default n
        help
            This option enables gathering host test statistics and SPI flash wear levelling simulation.

endmenu
