menu "ESP-Driver:PCNT Configurations"
    depends on SOC_PCNT_SUPPORTED
    config PCNT_CTRL_FUNC_IN_IRAM
        bool "Place PCNT control functions into IRAM"
        default n
        help
            Place PCNT control functions (like start/stop) into IRAM,
            so that these functions can be IRAM-safe and able to be called in the other IRAM interrupt context.
            Enabling this option can improve driver performance as well.

    config PCNT_ISR_IRAM_SAFE
        bool "PCNT ISR IRAM-Safe"
        default n
        help
            Ensure the PCNT interrupt is IRAM-Safe by allowing the interrupt handler to be
            executable when the cache is disabled (e.g. SPI Flash write).

    config PCNT_ENABLE_DEBUG_LOG
        bool "Enable debug log"
        default n
        help
            whether to enable the debug log message for PCNT driver.
            Note that, this option only controls the PCNT driver log, won't affect other drivers.
endmenu
