# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_DMA_RX_BUF_NUM               CONFIG_ETH_DMA_RX_BUF_NUM
CONFIG_DMA_TX_BUF_NUM               CONFIG_ETH_DMA_TX_BUF_NUM
CONFIG_EMAC_L2_TO_L3_RX_BUF_MODE    CONFIG_ETH_EMAC_L2_TO_L3_RX_BUF_MODE
CONFIG_EMAC_CHECK_LINK_PERIOD_MS    CONFIG_ETH_CHECK_LINK_STATUS_PERIOD_MS
CONFIG_EMAC_TASK_PRIORITY           CONFIG_ETH_EMAC_TASK_PRIORITY
CONFIG_EMAC_TASK_STACK_SIZE         CONFIG_ETH_EMAC_TASK_STACK_SIZE
