menu "ESP-ASIO"
    visible if LWIP_IPV6

    config ASIO_SSL_SUPPORT
        bool "Enable SSL/TLS support of ASIO"
        default n
        help
            Enable support for basic SSL/TLS features, available for mbedTLS/OpenSSL
            as well as wolfSSL TLS library.

    choice ASIO_SSL_LIBRARY_CHOICE
        prompt "Choose SSL/TLS library for ESP-TLS (See help for more Info)"
        default ASIO_USE_ESP_OPENSSL
        depends on ASIO_SSL_SUPPORT
        help
            The ASIO support multiple backend TLS libraries. Currently the mbedTLS with a thin ESP-OpenSSL
            port layer (default choice) and WolfSSL are supported.
            Different TLS libraries may support different features and have different resource
            usage. Consult the ESP-TLS documentation in ESP-IDF Programming guide for more details.
        config ASIO_USE_ESP_OPENSSL
            bool "esp-openssl"
        config ASIO_USE_ESP_WOLFSSL
            depends on TLS_STACK_WOLFSSL
            bool "wolfSSL (License info in wolfSSL directory README)"
    endchoice

endmenu
