menu "LWIP"

config L2_TO_L3_COPY
    bool "Enable copy between Layer2 and Layer3 packets"
    default 0
    help
        If this feature is enabled, all traffic from layer2(WIFI Driver) will be
        copied to a new buffer before sending it to layer3(LWIP stack), freeing
        the layer2 buffer.
        Please be notified that the total layer2 receiving buffer is fixed and 
        ESP32 currently supports 25 layer2 receiving buffer, when layer2 buffer 
        runs out of memory, then the incoming packets will be dropped in hardware. 
        The layer3 buffer is allocated from the heap, so the total layer3 receiving
        buffer depends on the available heap size, when heap runs out of memory,  
        no copy will be sent to layer3 and packet will be dropped in layer2. 
        Please make sure you fully understand the impact of this feature before 
        enabling it.

config LWIP_MAX_SOCKETS
    int "Max number of open sockets"
    range 1 16
    default 10
    help
        Sockets take up a certain amount of memory, and allowing fewer
        sockets to be open at the same time conserves memory. Specify
        the maximum amount of sockets here. The valid value is from 1
        to 16.

config LWIP_THREAD_LOCAL_STORAGE_INDEX
    int "Index for thread-local-storage pointer for lwip"
    default 0
    help
        Specify the thread-local-storage-pointer index for lwip
        use.

config LWIP_SO_REUSE
    bool "Enable SO_REUSEADDR option"
    default 0
    help
        Enabling this option allows binding to a port which remains in
        TIME_WAIT.

config LWIP_SO_RCVBUF
    bool "Enable SO_RCVBUF option"
    default 0
    help
        Enabling this option allows checking for available data on a netconn.

config LWIP_DHCP_MAX_NTP_SERVERS
    int "Maximum number of NTP servers"
    default 1
    range 1 16
    help
        Set maximum number of NTP servers used by LwIP SNTP module.
        First argument of sntp_setserver/sntp_setservername functions
        is limited to this value.

config LWIP_IP_FRAG
    bool "Enable fragment outgoing IP packets"
    default 0
    help
        Enabling this option allows fragmenting outgoing IP packets if their size
        exceeds MTU.

config LWIP_IP_REASSEMBLY
    bool "Enable reassembly incoming fragmented IP packets"
    default 0
    help
        Enabling this option allows reassemblying incoming fragmented IP packets.

config TCP_MAXRTX
    int "Maximum number of retransmissions of data segments"
    default 12
    range 3 12
    help
        Set maximum number of retransmissions of data segments.

config TCP_SYNMAXRTX
    int "Maximum number of retransmissions of SYN segments"
    default 6
    range 3 12
    help
        Set maximum number of retransmissions of SYN segments.

endmenu


