CONFIG_EXAMPLE_BROKER_SSL_URI=""
CONFIG_EXAMPLE_BROKER_TCP_URI="mqtt://127.0.0.1:1234"
CONFIG_EXAMPLE_BROKER_WS_URI=""
CONFIG_EXAMPLE_BROKER_WSS_URI=""
CONFIG_EXAMPLE_BROKER_CERTIFICATE_OVERRIDE=""
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_POLL_READ_TIMEOUT_MS=50
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_EXAMPLE_RUN_LOCAL_BROKER=y
