CONFIG_EXAMPLE_LCD_IMAGE_FROM_FILE_SYSTEM=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_lvgl_example.csv"

CONFIG_LV_USE_PNG=y
CONFIG_LV_USE_FS_POSIX=y

# use 'S' (83 in ASCII) as drive letter for POSIX FS
CONFIG_LV_FS_POSIX_LETTER=83
CONFIG_LV_FS_POSIX_CACHE_SIZE=65535
