CONFIG_EXAMPLE_PIN_NUM_PCLK=5
CONFIG_EXAMPLE_PIN_NUM_CS=3
CONFIG_EXAMPLE_PIN_NUM_DC=4
CONFIG_EXAMPLE_PIN_NUM_RST=2
CONFIG_EXAMPLE_PIN_NUM_BK_LIGHT=1
CONFIG_EXAMPLE_PIN_NUM_DATA0=6
CONFIG_EXAMPLE_PIN_NUM_DATA1=7
CONFIG_EXAMPLE_PIN_NUM_DATA2=8
CONFIG_EXAMPLE_PIN_NUM_DATA3=9
CONFIG_EXAMPLE_PIN_NUM_DATA4=10
CONFIG_EXAMPLE_PIN_NUM_DATA5=11
CONFIG_EXAMPLE_PIN_NUM_DATA6=12
CONFIG_EXAMPLE_PIN_NUM_DATA7=13
CONFIG_EXAMPLE_PIN_NUM_DATA8=14
CONFIG_EXAMPLE_PIN_NUM_DATA9=15
CONFIG_EXAMPLE_PIN_NUM_DATA10=16
CONFIG_EXAMPLE_PIN_NUM_DATA11=17
CONFIG_EXAMPLE_PIN_NUM_DATA12=18
CONFIG_EXAMPLE_PIN_NUM_DATA13=19
CONFIG_EXAMPLE_PIN_NUM_DATA14=20
CONFIG_EXAMPLE_PIN_NUM_DATA15=21
