menu "Example Product Configuration"

    config EXAMPLE_PRODUCT_NAME
        string "Product name"
        default "Not set"
        help
            Product name used in the example

    choice EXAMPLE_FUNC_IMPL
        prompt "Implementation of function 'func'"
        help
            Select one of the implementations of 'func' to be used in the app.
            This setting is used in component CMakeLists.txt.

        config EXAMPLE_FUNC_IMPL_DEV
            bool "Development (func_dev.c)"
        config EXAMPLE_FUNC_IMPL_PROD
            bool "Production (func_prod.c)"
    endchoice
endmenu
