# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_MB_MASTER_TIMEOUT_MS_RESPOND     CONFIG_FMB_MASTER_TIMEOUT_MS_RESPOND
CONFIG_MB_MASTER_DELAY_MS_CONVERT       CONFIG_FMB_MASTER_DELAY_MS_CONVERT
CONFIG_MB_QUEUE_LENGTH                  CONFIG_FMB_QUEUE_LENGTH
CONFIG_MB_SERIAL_TASK_STACK_SIZE        CONFIG_FMB_PORT_TASK_STACK_SIZE
CONFIG_MB_SERIAL_BUF_SIZE               CONFIG_FMB_SERIAL_BUF_SIZE
CONFIG_MB_SERIAL_TASK_PRIO              CONFIG_FMB_PORT_TASK_PRIO
CONFIG_MB_CONTROLLER_SLAVE_ID_SUPPORT   CONFIG_FMB_CONTROLLER_SLAVE_ID_SUPPORT
CONFIG_MB_CONTROLLER_SLAVE_ID           CONFIG_FMB_CONTROLLER_SLAVE_ID
CONFIG_MB_CONTROLLER_NOTIFY_TIMEOUT     CONFIG_FMB_CONTROLLER_NOTIFY_TIMEOUT
CONFIG_MB_CONTROLLER_NOTIFY_QUEUE_SIZE  CONFIG_FMB_CONTROLLER_NOTIFY_QUEUE_SIZE
CONFIG_MB_CONTROLLER_STACK_SIZE         CONFIG_FMB_CONTROLLER_STACK_SIZE
CONFIG_MB_EVENT_QUEUE_TIMEOUT           CONFIG_FMB_EVENT_QUEUE_TIMEOUT
CONFIG_MB_TIMER_PORT_ENABLED            CONFIG_FMB_TIMER_PORT_ENABLED
CONFIG_MB_TIMER_GROUP                   CONFIG_FMB_TIMER_GROUP
CONFIG_MB_TIMER_INDEX                   CONFIG_FMB_TIMER_INDEX
