# Override some defaults so BT stack is enabled
# by default in this example
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_CTRL_BTDM_MODEM_SLEEP=n
CONFIG_BTDM_SCAN_DUPL_TYPE_DATA_DEVICE=y
CONFIG_BTDM_BLE_MESH_SCAN_DUPL_EN=y
CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MANUAL=y
CONFIG_BT_BTU_TASK_STACK_SIZE=4512

#
# light driver config
#
CONFIG_LIGHT_GPIO_RED=14
CONFIG_LIGHT_GPIO_GREEN=13
CONFIG_LIGHT_GPIO_BLUE=12
CONFIG_LIGHT_GPIO_COLD=11
CONFIG_LIGHT_GPIO_WARM=10
# end of light driver config
