menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "tp_wifi_test1"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "1234567890"
    help
        WiFi password (WPA or WPA2) for the example to use.

config SEVER_PORT
	int "tcp sever port"
	default 4567
	help 
		which will the udp sever use.
	
config BUFF_SIZE
	int "buff size"
	default 1024
	help
		the data send&recv buff size. 

choice 
    prompt "test mode"
	default PERFORMANCE_MODE
	help
		This option performance mode.
	
		- for "udp receive" setting,it will receive data by udp.
		
		- for "udp send" setting, it will send data by udp.
		
config MODE_UDP_RECV
    bool "udp receive"
config MODE_UDP_SEND
    bool "udp send"
endchoice

endmenu
