menu "Example Configuration"

config LOCAL_PORT_NUMBER
    int "Local port number"
    range 0 65535
    default 5683
    help
        Local port number for the example to use.

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) for the example to use.

endmenu