# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_ESP32_PANIC                                      CONFIG_ESP_SYSTEM_PANIC
CONFIG_ESP32_PANIC_PRINT_HALT                           CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT
CONFIG_ESP32_PANIC_PRINT_REBOOT                         CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT
CONFIG_ESP32_PANIC_SILENT_REBOOT                        CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT
CONFIG_ESP32_PANIC_GDBSTUB                              CONFIG_ESP_SYSTEM_PANIC_GDBSTUB
CONFIG_ESP32_ALLOW_RTC_FAST_MEM_AS_HEAP                 CONFIG_ESP_SYSTEM_ALLOW_RTC_FAST_MEM_AS_HEAP
CONFIG_ESP32_DEBUG_OCDAWARE                             CONFIG_ESP_DEBUG_OCDAWARE

CONFIG_ESP32_BROWNOUT_DET                               CONFIG_ESP_BROWNOUT_DET
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL                       CONFIG_ESP_BROWNOUT_DET_LVL_SEL
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_0                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_0
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_1                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_1
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_2                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_2
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_3                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_3
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_4                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_4
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_5                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_5
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_6                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_6
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_7                     CONFIG_ESP_BROWNOUT_DET_LVL_SEL_7
CONFIG_ESP32_BROWNOUT_DET_LVL                           CONFIG_ESP_BROWNOUT_DET_LVL
