# ESP32-P4 EV board pin assignment
# I2C GPIOs
CONFIG_EXAMPLE_I2C_SCL_IO=8
CONFIG_EXAMPLE_I2C_SDA_IO=7

# I2S GPIOs
CONFIG_EXAMPLE_I2S_MCK_IO=13
CONFIG_EXAMPLE_I2S_BCK_IO=12
CONFIG_EXAMPLE_I2S_WS_IO=10
CONFIG_EXAMPLE_I2S_DO_IO=9
CONFIG_EXAMPLE_I2S_DI_IO=11

# PA GPIO
CONFIG_EXAMPLE_PA_CTRL_IO=53
