menu "OpenThread Border Router Example"

    config OPENTHREAD_SUPPORT_HW_RESET_RCP
        bool 'Enable hardware RCP resetting'
        default n
        help
            If enabled, the Thread Border Router will support hardware resetting the RCP
            when processing RCP failure.

    config OPENTHREAD_HW_RESET_RCP_PIN
        int 'Pin to RCP reset'
        depends on OPENTHREAD_SUPPORT_HW_RESET_RCP
        default 7

endmenu
