menu "LDO Regulator Configurations"
    depends on SOC_GP_LDO_SUPPORTED

    config ESP_LDO_RESERVE_PSRAM
        bool "Reserve one LDO regulator channel for PSRAM (READ HELP)"
        default y
        help
            The LDO channel can be used to power the PSRAM chip.
            If the PSRAM chip is not powered by ESP internal LDO, you can disable this option.
            Then you will free up one LDO channel for other general purpose.

    config ESP_LDO_CHAN_PSRAM_DOMAIN
        int "LDO regulator channel that used to power PSRAM and MPLL (READ HELP)"
        depends on ESP_LDO_RESERVE_PSRAM
        default 1
        range 1 1
        help
            Select which LDO channel to connect to the PSRAM chip.

    choice ESP_LDO_VOLTAGE_PSRAM_DOMAIN
        prompt "PSRAM power domain voltage"
        depends on ESP_LDO_RESERVE_PSRAM
        default ESP_LDO_VOLTAGE_PSRAM_1800_MV
        help
            Select the voltage used by the PSRAM power domain.

        config ESP_LDO_VOLTAGE_PSRAM_1800_MV
            bool "1.8V"
    endchoice

    config ESP_LDO_VOLTAGE_PSRAM_DOMAIN
        int
        default 1800 if ESP_LDO_VOLTAGE_PSRAM_1800_MV
endmenu
