<table class="table table-bordered table-striped table-condensed">
   <tr>
      <th colspan="14">Test Report for ESP BLE Smartphone Compatibility</th>
   </tr>
   <tr>
      <td>ESP32 Module:</td>
      <td colspan="13">ESP-WROOM-32</td>
   </tr>
   <tr>
      <td>Commit ID:</td>
      <td colspan="13">7c29a39d6f9f2dfbefc49d34d34e9267afc7200d</td>
   </tr>
   <tr>
      <td>Test Demo:</td>
      <td colspan="13">https://github.com/espressif/esp-idf/tree/master/examples/bluetooth/bluedroid/ble/ble_compatibility_test</td>
   </tr>
   <tr>
      <td rowspan="2"><font size="1">Phone Brand</td> 
      <td rowspan="2"><font size="2">Model</td>
      <td rowspan="2"><font size="2">OS Version</td>
      <td rowspan="2"><font size="2">Test APP & Version</td>
      <td colspan="9" font size="2" align="center">Test Item</td>
      <td rowspan="2"><font size="2">Note</td>
   </tr>
   <tr>
      <td><font size="2">ADV</td>
      <td><font size="2">Pairing</td>
      <td><font size="2">Service Discovery</td>
      <td><font size="2">Read & Encrypt</td>
      <td><font size="2">Short Read & Write</td>
      <td><font size="2">Long Read & Write</td>
      <td><font size="2">Short Notify</td>
      <td><font size="2">Connection Success Rate (10 times)</td>
      <td><font size="2">Long Connection Stability</td>
   </tr>
   <tr>
      <td rowspan="6"><font size="2">Samsung （三星）</td>
      <td><font size="2">Galaxy S9</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3*</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">"LightBlue" here is the abbreviation of "<font size="2">LightBlue® Explorer"</td>
   </tr>
   <tr>
      <td><font size="2">Galaxy Note 4 </td>
      <td><font size="2">Android 6.0.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Galaxy S8+</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">S3 GT-I9300</td>
      <td><font size="2">Android 4.3</td>
      <td><font size="2">nRF Connect V4.10*</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Intallation of LightBlue failed, so nRF Connect was used alternatively.</td>
   </tr>
   <tr>
      <td><font size="2">S4 GT-I9502</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">nRF Connect V4.10*</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Intallation of LightBlue failed, so nRF Connect was used alternatively.</td>
   </tr>
   <tr>
      <td><font size="2">S4 GT-I9500</td>
      <td><font size="2">Android 4.3</td>
      <td><font size="2">nRF Connect V4.10*</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Intallation of LightBlue failed, so nRF Connect was used alternatively.</td>
   </tr>
     <tr>
      <td rowspan="7"><font size="2">Apple（苹果）</td>
      <td><font size="2">iPhone 5S/A1518</td>
      <td><font size="2">iOS 12.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPhone X</td>
      <td><font size="2">iOS 12.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPhone SE</td>
      <td><font size="2">iOS 10.2.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPhone 6s Plus</td>
      <td><font size="2">iOS 12.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPhone 7</td>
      <td><font size="2">iOS 12.0.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPhone 6</td>
      <td><font size="2">iOS 10.3.1</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">iPod Touch</td>
      <td><font size="2">iOS 12.0</td>
      <td><font size="2">LightBlue V2.7</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="6"><font size="2">HUAWEI（华为）</td>
      <td><font size="2">Huawei nova 3e</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Huawei Honor Enjoy 7X</td>
      <td><font size="2">Android 7.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Huawei Mate 10</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Huawei G9/P9 Lite</td>
      <td><font size="2">Android 6.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Huawei nova</td>
      <td><font size="2">Android 7.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Huawei Honor 4X</td>
      <td><font size="2">Android 5.0.2</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Sometimes the app cannot break bluetooth connection, so you need to manually switch on and off the bluetooth.</td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">OPPO（欧珀）</td>
      <td><font size="2">OPPO A83</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">OPPO R9s</td>
      <td><font size="2">Android 6.0.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="5"><font size="2">Xiaomi（小米）</td>
      <td><font size="2">Xiaomi Mi Max 2</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Xiaomi 5X</td>
      <td><font size="2">Android 7.1.2</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Xiaomi Mi Note 2</td>
      <td><font size="2">Android 7.0</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Xiaomi Redmi Note 4</td>
      <td><font size="2">Android 6.0</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Xiaomi Mi 5</td>
      <td><font size="2">Android 7.0</td>
      <td><font size="2"><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">vivo（步步高）</td>
      <td><font size="2">vivo Y85</td>
      <td><font size="2">Android 8.1.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">vivo X7</td>
      <td><font size="2">Android 5.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">Lenovo & Motoria （联想）</td>
      <td><font size="2">Lenovo S5</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Lenovo K5</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="1"><font size="2">ZTE & Nubia（中兴）</td>
      <td><font size="2">Nubia Z17 Mini</td>
      <td><font size="2">Android 6.0.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">Gionee（金立）</td>
      <td><font size="2">Gionee S11</td>
      <td><font size="2">Android 7.11</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Gionee GN9004</td>
      <td><font size="2">Android 4.3</td>
      <td><font size="2">nRF Connect V4.10*</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Intallation of LightBlue failed, so nRF Connect was used alternatively.</td>
   </tr>
   <tr>
      <td><font size="2">Google（谷歌）</td>
      <td><font size="2">LG Nexus 4*</td>
      <td><font size="2">Android 5.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td><font size="2">BLE scan performance of this phone is poor.</td>
   </tr>
   <tr>
      <td><font size="2">Sony（索尼）</td>
      <td><font size="2">Sony Xperia XZ</td>
      <td><font size="2">Android 8.0.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">HTC（宏达电）</td>
      <td><font size="2">HTC U11</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Essential</td>
      <td><font size="2">Essential Phone</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">Meizu（魅族）</td>
      <td><font size="2">Meilan Note 3</td>
      <td><font size="2">Android 5.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Meilan E</td>
      <td><font size="2">Android 5.2.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Smartisan（锤子）</td>
      <td><font size="2">Smartisan Nut Pro 2</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Sharp（夏普）</td>
      <td><font size="2">Sharp AQUOS S3 mini </td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Hisense（海信）</td>
      <td><font size="2">HiSense Small Dolphin 2（海信小海豚 2）</td>
      <td><font size="2">Android 7.1.2</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">360（奇虎）</td>
      <td><font size="2">360 N6 Lite</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">360 N5</td>
      <td><font size="2">Android 6.0.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2">Xiaolajiao（小辣椒）</td>
      <td><font size="2">Red Chilli 4A（红辣椒 4A）</td>
      <td><font size="2">Android 3.2.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Red Chilli Enjoy 6A（红辣椒畅玩 6A）</td>
      <td><font size="2">Android 5.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td rowspan="2"><font size="2"><font size="2">Letv（乐视）</td>
      <td><font size="2">LeTV LeEcoo Le S3</td>
      <td><font size="2">Android 6.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">LeTV LeEoo Le1 (X600)</td>
      <td><font size="2">Android 5.0.2</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Coolpad（酷派）</td>
      <td><font size="2">Coolpad Cool 1 dual</td>
      <td><font size="2">Android 6.0.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Doov（朵唯）</td>
      <td><font size="2">Doov A15S</td>
      <td><font size="2">Android 5.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">AGM（艾捷莫）</td>
      <td><font size="2">AGM X1</td>
      <td><font size="2">Android 5.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">CMCC（中国移动）</td>
      <td><font size="2">CMCC N3</td>
      <td><font size="2">Android 7.1.2</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">Meitu（美图）</td>
      <td><font size="2">Meitu M8s</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">K-Touch（天语）</td>
      <td><font size="2">K-Touch X11</td>
      <td><font size="2">Android 6.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">YEPEN（誉品）</td>
      <td><font size="2">YEPEN I7S</td>
      <td><font size="2">Android 6.0</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
      <td><font size="2">MOTO</td>
      <td><font size="2">Z2 Paly</td>
      <td><font size="2">Android 7.1.1</td>
      <td><font size="2">LightBlue V1.1.3</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">Pass</td>
      <td><font size="2">100%</td>
      <td><font size="2">Pass</td>
      <td></td>
   </tr>
   <tr>
</table>     
