menu "Example Configuration"

    config SMTP_SERVER
        string "Mail Server"
        default "smtp.googlemail.com"
        help
            Target domain for the example to connect to.

    config SMTP_PORT_NUMBER
        string "Mail port number"
        default "587"
        help
            Mail port number for the example to connect to.

    config SMTP_SENDER_MAIL
        string "Sender email"
        default "sender.email@gmail.com"
        help
            Sender's Email address

    config SMTP_SENDER_PASSWORD
        string "Sender password"
        default "password@123"
        help
            Sender's email password

    config SMTP_RECIPIENT_MAIL
        string "Recipient email"
        default "recipient.email@gmail.com"
        help
            Recipient's email

endmenu
