menu "Example Configuration"
    config EXAMPLE_HCI_UART_BAUDRATE
        int "UART Baudrate for HCI"
        range 115200 921600
        default 921600
        help
            UART Baudrate for HCI. Please use standard baudrate.
endmenu
