# Bluetooth Audio - Public Broadcast Profile (PBP) options
#
# SPDX-FileCopyrightText: 2023 NXP
#
# SPDX-License-Identifier: Apache-2.0
#

config BT_PBP
    bool "Public Broadcast Profile"
    help
        Enabling this will enable PBP.
