CONFIG_EXAMPLE_PIN_NUM_R1=12
CONFIG_EXAMPLE_PIN_NUM_G1=0
CONFIG_EXAMPLE_PIN_NUM_B1=22
CONFIG_EXAMPLE_PIN_NUM_R2=2
CONFIG_EXAMPLE_PIN_NUM_G2=1
CONFIG_EXAMPLE_PIN_NUM_B2=3
CONFIG_EXAMPLE_PIN_NUM_LATCH=11
CONFIG_EXAMPLE_PIN_NUM_OE=26
CONFIG_EXAMPLE_PIN_NUM_PCLK=27
CONFIG_EXAMPLE_PIN_NUM_A=8
CONFIG_EXAMPLE_PIN_NUM_B=5
CONFIG_EXAMPLE_PIN_NUM_C=9
CONFIG_EXAMPLE_PIN_NUM_D=10
