CONFIG_EXAMPLE_PIN_NUM_R1=14
CONFIG_EXAMPLE_PIN_NUM_G1=8
CONFIG_EXAMPLE_PIN_NUM_B1=12
CONFIG_EXAMPLE_PIN_NUM_R2=7
CONFIG_EXAMPLE_PIN_NUM_G2=11
CONFIG_EXAMPLE_PIN_NUM_B2=9
CONFIG_EXAMPLE_PIN_NUM_LATCH=1
CONFIG_EXAMPLE_PIN_NUM_OE=0
CONFIG_EXAMPLE_PIN_NUM_PCLK=3
CONFIG_EXAMPLE_PIN_NUM_A=10
CONFIG_EXAMPLE_PIN_NUM_B=5
CONFIG_EXAMPLE_PIN_NUM_C=4
CONFIG_EXAMPLE_PIN_NUM_D=2
