menu "Example Configuration"

    config TE_PM_ENABLE
        bool "Touch Element power management"
        default y

    config TE_MAX_CPU_FREQ
        int "Touch Element sleep DFS maximum cpu frequency"
        depends on PM_DFS_INIT_AUTO
        default ESP32S2_DEFAULT_CPU_FREQ_MHZ

    config TE_MIN_CPU_FREQ
        int "Touch Element sleep DFS minimum cpu frequency"
        depends on PM_DFS_INIT_AUTO
        default 10

endmenu
