menu "Example Configuration"

    config BROKER_URI
        string "Broker URL"
        default "ws://mqtt.eclipse.org:80/mqtt"
        help
            URL of an mqtt broker which this example connects to.

endmenu
