CONFIG_SPIRAM=y
# Enabling the following configurations can help increase the PCLK frequency in the case when
# the Frame Buffer is allocated from the PSRAM and fetched by EDMA
CONFIG_SPIRAM_XIP_FROM_PSRAM=y

CONFIG_EXAMPLE_PIN_NUM_BK_LIGHT=13
CONFIG_EXAMPLE_PIN_NUM_RST=39
CONFIG_EXAMPLE_PIN_NUM_PCLK=15
CONFIG_EXAMPLE_PIN_NUM_CS=14
CONFIG_EXAMPLE_PIN_NUM_DC=38
CONFIG_EXAMPLE_PIN_NUM_DATA0=16
CONFIG_EXAMPLE_PIN_NUM_DATA1=37
CONFIG_EXAMPLE_PIN_NUM_DATA2=17
CONFIG_EXAMPLE_PIN_NUM_DATA3=36
CONFIG_EXAMPLE_PIN_NUM_DATA4=18
CONFIG_EXAMPLE_PIN_NUM_DATA5=35
CONFIG_EXAMPLE_PIN_NUM_DATA6=19
CONFIG_EXAMPLE_PIN_NUM_DATA7=34
