CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT_EN=n

CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y

CONFIG_ESP_TIMER_TASK_STACK_SIZE=3584

CONFIG_FREERTOS_UNICORE=y
CONFIG_FREERTOS_HZ=1000
