menu "Example Configuration"

    config EXAMPLE_PEER_ADDR
        string "Peer Address"
        default "ADDR_ANY"
        help
            Enter the peer address in aa:bb:cc:dd:ee:ff form to connect to a specific peripheral

    config EXAMPLE_ENC_ADV_DATA
        bool
        prompt "Enable encrypted advertising data feature support"
        default y
        select BT_NIMBLE_ENC_ADV_DATA
        help
            This option enables support of encrypted advertising data.
endmenu
