menu "Example Configuration"

    config EXAMPLE_TWAI_TX_GPIO
        int "TWAI TX GPIO Num"
        range 0 SOC_GPIO_OUT_RANGE_MAX
        default 4
        help
            GPIO number for TWAI TX to transceiver.

    config EXAMPLE_TWAI_RX_GPIO
        int "TWAI RX GPIO Num"
        range 0 SOC_GPIO_IN_RANGE_MAX
        default 5
        help
            GPIO number for TWAI RX from transceiver.

endmenu
