menu "OpenThread Border Router Config"
    depends on OPENTHREAD_BORDER_ROUTER

    config OPENTHREAD_BORDER_ROUTER_AUTO_START
        depends on OPENTHREAD_BORDER_ROUTER
        bool 'Enable the border router auto start'
        default n
        help
            If enabled, the program will automatically connect to the backbone network and
            initialize the border router at startup.

endmenu
