menu "Example Configuration"

    menu "Example IO Configuration"
        config EXAMPLE_PA_CTRL_IO
            int "Power Amplifier control IO"
            default 53 if IDF_TARGET_ESP32P4
            default -1
            help
                Set GPIO number for PA control. Set -1 to disable PA control.

        config EXAMPLE_I2C_SDA_IO
            int "I2C SDA IO"
            default 17 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default 9 if IDF_TARGET_ESP32H2
            default 7

        config EXAMPLE_I2C_SCL_IO
            int "I2C SCL IO"
            default 16 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default 8 if IDF_TARGET_ESP32H2 || IDF_TARGET_ESP32P4
            default 6

        config EXAMPLE_I2S_MCLK_IO
            int "I2S MCLK IO"
            default 13 if IDF_TARGET_ESP32P4
            default 0

        config EXAMPLE_I2S_BCLK_IO
            int "I2S BCLK IO"
            default 12 if IDF_TARGET_ESP32P4
            default 4

        config EXAMPLE_I2S_WS_IO
            int "I2S WS IO"
            default 10 if IDF_TARGET_ESP32P4
            default 5

        config EXAMPLE_I2S_DIN_IO
            int "I2S DIN IO"
            default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default 11 if IDF_TARGET_ESP32P4
            default 3

        config EXAMPLE_I2S_DOUT_IO
            int "I2S DOUT IO"
            default 18 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default 9 if IDF_TARGET_ESP32P4
            default 2

    endmenu

    choice EXAMPLE_MODE
        prompt "Example mode"
        default EXAMPLE_MODE_MUSIC
        help
            Select example work mode

        config EXAMPLE_MODE_MUSIC
            bool "music"
        config EXAMPLE_MODE_ECHO
            depends on !EXAMPLE_BSP
            bool "echo"
    endchoice

    config EXAMPLE_MIC_GAIN
        int "Set MIC gain (unit: dB)"
        depends on EXAMPLE_MODE_ECHO
        default 18
        help
            Select mic gain for echo mode

    config EXAMPLE_VOICE_VOLUME
        int "Voice volume"
        range 0 100
        default 60
        help
            Set voice volume
endmenu
