menu "Test config"

    config TEST_BOOL
        bool "Test boolean"
        default n

    config TEST_CHILD_BOOL
        bool "Test boolean"
        depends on TEST_BOOL
        default y

    config TEST_CHILD_STR
        string "Test str"
        depends on TEST_BOOL
        default "OHAI!"

    choice TEST_CHOICE
        prompt "Some choice"
        default CHOICE_A

        config CHOICE_A
            bool "A"

        config CHOICE_B
            bool "B"

    endchoice

    config DEPENDS_ON_CHOICE
        string "Depends on choice"
        default "Depends on A" if CHOICE_A
        default "Depends on B" if CHOICE_B
        default "WAT"

    config SOME_UNRELATED_THING
        bool "Some unrelated thing"

    config TEST_CONDITIONAL_RANGES
        int "Something with a range"
        range 0 100 if TEST_BOOL
        range 0 10
        default 1

    config TEST_CONDITIONAL_HEX_RANGES
        hex "Something with a hex range"
        range 0x00 0xaf if TEST_BOOL
        range 0x10 0xaf
        default 0xa0

    config SUBMENU_TRIGGER
        bool "I enable/disable some submenu items"
        default y

    menu "Submenu"

        config SUBMENU_ITEM_A
            int "I am a submenu item"
            depends on SUBMENU_TRIGGER
            default 77

        config SUBMENU_ITEM_B
            bool "I am also submenu item"
            depends on SUBMENU_TRIGGER

    endmenu  # Submenu

    menuconfig SUBMENU_CONFIG
        bool "Submenuconfig"
        default y
        help
            I am a submenu which is also a config item.

    config SUBMENU_CONFIG_ITEM
        bool "Depends on submenuconfig"
        depends on SUBMENU_CONFIG
        default y

endmenu  # Test config
