CONFIG_IDF_TARGET="esp32s31"

CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_ESP32_EMAC=y

CONFIG_EXAMPLE_ETH_PHY_INTERFACE_RGMII=y
CONFIG_EXAMPLE_ETH_RGMII_RX_CLK_GPIO=14
CONFIG_EXAMPLE_ETH_RGMII_TX_CLK_GPIO=13
CONFIG_EXAMPLE_ETH_RGMII_PHY_REF_CLK_GPIO=-1
CONFIG_EXAMPLE_ETH_RGMII_TX_CTL_GPIO=12
CONFIG_EXAMPLE_ETH_RGMII_TXD0_GPIO=8
CONFIG_EXAMPLE_ETH_RGMII_TXD1_GPIO=9
CONFIG_EXAMPLE_ETH_RGMII_TXD2_GPIO=10
CONFIG_EXAMPLE_ETH_RGMII_TXD3_GPIO=11
CONFIG_EXAMPLE_ETH_RGMII_RX_CTL_GPIO=15
CONFIG_EXAMPLE_ETH_RGMII_RXD0_GPIO=19
CONFIG_EXAMPLE_ETH_RGMII_RXD1_GPIO=18
CONFIG_EXAMPLE_ETH_RGMII_RXD2_GPIO=17
CONFIG_EXAMPLE_ETH_RGMII_RXD3_GPIO=16

CONFIG_EXAMPLE_ETH_MDC_GPIO=5
CONFIG_EXAMPLE_ETH_MDIO_GPIO=6
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=7

CONFIG_EXAMPLE_ETH_DEINIT_AFTER_S=10

CONFIG_EXAMPLE_ETH_PHY_RST_TIMING_EN=y
