source "$IDF_PATH/components/bt/porting_btdm/controller/btdm_common/Kconfig.in"

choice BT_CTRL_PINNED_TO_CORE_CHOICE
    prompt "The cpu core which bluetooth controller run"
    depends on !FREERTOS_UNICORE
    help
        Specify the cpu core to run bluetooth controller.
        Can not specify no-affinity.

    config BT_CTRL_PINNED_TO_CORE_CHOICE_0
        bool "Core 0 (PRO CPU)"
    config BT_CTRL_PINNED_TO_CORE_CHOICE_1
        bool "Core 1 (APP CPU)"
        depends on !FREERTOS_UNICORE
endchoice

config BT_CTRL_PINNED_TO_CORE
    int
    default 0 if BT_CTRL_PINNED_TO_CORE_CHOICE_0
    default 1 if BT_CTRL_PINNED_TO_CORE_CHOICE_1
    default 0

config BT_CTRL_TASK_STACK_SIZE
    int "Controller task stack size"
    default 5120 if BLE_MESH
    default 4096
    help
        This configures stack size of NimBLE controller task

config BT_CTRL_SLEEP_ENABLE
    bool "Enable Bluetooth Controller sleep"
    default n
    help
        Enable Bluetooth Controller sleep

choice BT_CTRL_LP_CLK_SRC
    prompt "Bluetooth low power clock source"
    default BT_CTRL_LP_CLK_SRC_MAIN_XTAL
    depends on BT_CTRL_SLEEP_ENABLE
    config BT_CTRL_LP_CLK_SRC_MAIN_XTAL
        bool "Use main XTAL as RTC clock source"
        help
            User main XTAL as RTC clock source.
            This option is recommended if external 32.768k XTAL is not available.
            Using the external 32.768 kHz XTAL will have lower current consumption
            in light sleep compared to using the main XTAL.

    config BT_CTRL_LP_CLK_SRC_DEFAULT
        depends on (RTC_CLK_SRC_EXT_CRYS || !BT_CTRL_BREDR_ENABLE)
        bool "Use system RTC slow clock source"
        help
            Use the same slow clock source as system RTC
            Using any clock source other than external 32.768 kHz XTAL supports only
            legacy ADV and SCAN due to low clock accuracy.

endchoice

config BT_DUAL_MODE_ARCH
    bool
    default y

config BT_CTRL_BLE_ENABLE
    bool
    default (BTDM_CTRL_MODE_BLE_ONLY || BTDM_CTRL_MODE_BTDM)

config BT_CTRL_BREDR_ENABLE
    bool
    default (BTDM_CTRL_MODE_BR_EDR_ONLY || BTDM_CTRL_MODE_BTDM)

source "$IDF_PATH/components/bt/porting_btdm/transport/Kconfig.in"

menu "BLE Controller Options"
    depends on SOC_BLE_SUPPORTED && (BTDM_CTRL_MODE_BLE_ONLY || BTDM_CTRL_MODE_BTDM)
    source "$IDF_PATH/components/bt/porting_btdm/controller/ble/Kconfig.in"
endmenu

menu "BR/EDR Controller Options"
    depends on SOC_BT_CLASSIC_SUPPORTED && (BTDM_CTRL_MODE_BR_EDR_ONLY || BTDM_CTRL_MODE_BTDM)
    source "$IDF_PATH/components/bt/porting_btdm/controller/bredr/Kconfig.in"
endmenu
