menu "Example Configuration"

    config EXAMPLE_PEER_ADDR
        string "Peer Address"
        default "ADDR_ANY"
        help
            Enter the peer address in aa:bb:cc:dd:ee:ff form to connect to a specific peripheral

    config EXAMPLE_CONN_ITVL_MIN
        int "Minimum connection itvl"
        default 6
        help
            Set the minimum connection interval in 1.25msec units.

    config EXAMPLE_CONN_ITVL_MAX
        int "Maximum connection itvl"
        default 6
        help
            Set the maximum connection interval in 1.25msec units.

    config EXAMPLE_CONN_LATENCY
        int "Connection latency"
        default 0
        help
            Set the connection latency.

    config EXAMPLE_CONN_TIMEOUT
        int "Supervision timeout"
        default 500
        help
            Set the supervision timeout in 10msec units.

    config EXAMPLE_CONN_CE_LEN_MIN
        int "Minimum connection event length"
        default 12
        help
            Set the minimum connection event length in 0.625msec units.

    config EXAMPLE_CONN_CE_LEN_MAX
        int "Maximum connection event length"
        default 12
        help
            Set the maximum connection event length in 0.625msec units.
endmenu
