CONFIG_EXAMPLE_ETHERNET_EMAC_TASK_STACK_SIZE            CONFIG_ETHERNET_RX_TASK_STACK_SIZE
CONFIG_EXAMPLE_USE_SPI_ETHERNET                         CONFIG_ETHERNET_SPI_SUPPORT
CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET                    CONFIG_ETHERNET_INTERNAL_SUPPORT
CONFIG_EXAMPLE_USE_DM9051                               CONFIG_ETHERNET_SPI_DEV0_DM9051
CONFIG_EXAMPLE_USE_W5500                                CONFIG_ETHERNET_SPI_DEV0_W5500
CONFIG_EXAMPLE_USE_OPENETH                              CONFIG_ETHERNET_OPENETH_SUPPORT
CONFIG_EXAMPLE_ETH_PHY_GENERIC                          CONFIG_ETHERNET_PHY_GENERIC
CONFIG_EXAMPLE_ETH_PHY_IP101                            CONFIG_ETHERNET_PHY_IP101
CONFIG_EXAMPLE_ETH_PHY_RTL8201                          CONFIG_ETHERNET_PHY_RTL8201
CONFIG_EXAMPLE_ETH_PHY_LAN87XX                          CONFIG_ETHERNET_PHY_LAN87XX
CONFIG_EXAMPLE_ETH_PHY_DP83848                          CONFIG_ETHERNET_PHY_DP83848
CONFIG_EXAMPLE_ETH_PHY_KSZ80XX                          CONFIG_ETHERNET_PHY_KSZ80XX
CONFIG_EXAMPLE_ETH_MDC_GPIO                             CONFIG_ETHERNET_MDC_GPIO
CONFIG_EXAMPLE_ETH_MDIO_GPIO                            CONFIG_ETHERNET_MDIO_GPIO
CONFIG_EXAMPLE_ETH_SPI_HOST                             CONFIG_ETHERNET_SPI_HOST
CONFIG_EXAMPLE_ETH_SPI_SCLK_GPIO                        CONFIG_ETHERNET_SPI_SCLK_GPIO
CONFIG_EXAMPLE_ETH_SPI_MOSI_GPIO                        CONFIG_ETHERNET_SPI_MOSI_GPIO
CONFIG_EXAMPLE_ETH_SPI_MISO_GPIO                        CONFIG_ETHERNET_SPI_MISO_GPIO
CONFIG_EXAMPLE_ETH_SPI_CS_GPIO                          CONFIG_ETHERNET_SPI_CS0_GPIO
CONFIG_EXAMPLE_ETH_SPI_CLOCK_MHZ                        CONFIG_ETHERNET_SPI_CLOCK_MHZ
CONFIG_EXAMPLE_ETH_SPI_INT_GPIO                         CONFIG_ETHERNET_SPI_INT0_GPIO
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO                         CONFIG_ETHERNET_PHY_RST_GPIO
CONFIG_EXAMPLE_ETH_PHY_ADDR                             CONFIG_ETHERNET_PHY_ADDR
