menu "Example Configuration"

    config EXAMPLE_TARGET_ADDR
        string "Target server Address"
        default "192.168.0.165"
        help
            The example will connect to this IPV4 address.

    config EXAMPLE_TARGET_PORT
        int "Target server Port"
        range 0 65535
        default 8080
        help
            The remote port to which the client example will connect to.

    config EXAMPLE_ENABLE_PROXY
        bool "Enable Proxy client"
        default n
        help
            Use a SOCKS proxy to connect

    config EXAMPLE_PROXY_ADDR
        string "Proxy server Address"
        depends on ENABLE_PROXY
        default "192.168.0.1"
        help
            The example will connect to this proxy address to request connection to target.

    config EXAMPLE_PROXY_PORT
        int "Proxy server Port"
        depends on ENABLE_PROXY
        range 0 65535
        default 1080
        help
            The proxy port to which the client example will request connection.

endmenu
