CONFIG_IDF_TARGET="esp32"

# CONFIG_EXAMPLE_USE_WIFI is not set
CONFIG_EXAMPLE_USE_ETH=y

# Below static IP configuration is compatible with "VM Ethernet CI runner" environment
CONFIG_EXAMPLE_STATIC_IP_ADDR="120.140.1.2"
CONFIG_EXAMPLE_STATIC_NETMASK_ADDR="255.255.255.0"
CONFIG_EXAMPLE_STATIC_GW_ADDR="120.140.1.1"

# CONFIG_EXAMPLE_STATIC_DNS_AUTO is not set
CONFIG_EXAMPLE_STATIC_DNS_MANUAL=y
CONFIG_EXAMPLE_STATIC_DNS_SERVER_MAIN="8.8.8.8"
CONFIG_EXAMPLE_STATIC_DNS_SERVER_BACKUP="8.8.4.4"
CONFIG_EXAMPLE_STATIC_DNS_RESOLVE_TEST=y
CONFIG_EXAMPLE_STATIC_RESOLVE_DOMAIN="www.espressif.com"

CONFIG_ETHERNET_INTERNAL_SUPPORT=y
CONFIG_ETHERNET_PHY_IP101=y
# CONFIG_ETHERNET_PHY_RTL8201 is not set
# CONFIG_ETHERNET_PHY_LAN87XX is not set
# CONFIG_ETHERNET_PHY_DP83848 is not set
# CONFIG_ETHERNET_PHY_KSZ80XX is not set
CONFIG_ETHERNET_MDC_GPIO=23
CONFIG_ETHERNET_MDIO_GPIO=18
CONFIG_ETHERNET_PHY_RST_GPIO=5
CONFIG_ETHERNET_PHY_ADDR=1
# CONFIG_ETHERNET_SPI_SUPPORT is not set
