menu "Example Configuration"
    choice EXAMPLE_LCD_BUFFER_MODE
        prompt "RGB LCD Buffer Mode"
        default EXAMPLE_USE_SINGLE_FB
        help
            Select the LCD buffer mode.

        config EXAMPLE_USE_SINGLE_FB
            bool "Use single frame buffer"
            help
                Allocate one frame buffer in the driver.
                Allocate one draw buffer in LVGL.

        config EXAMPLE_USE_DOUBLE_FB
            bool "Use double frame buffer"
            help
                Allocate two frame buffers in the driver.
                The frame buffers also work as ping-pong draw buffers in LVGL.

        config EXAMPLE_USE_BOUNCE_BUFFER
            bool "Use bounce buffer"
            help
                Allocate one frame buffer in the driver.
                Allocate two bounce buffers in the driver.
                Allocate one draw buffer in LVGL.
    endchoice

    choice EXAMPLE_LCD_DATA_LINES
        prompt "RGB LCD Data Lines"
        default EXAMPLE_LCD_DATA_LINES_16
        help
            Select the number of data lines of the RGB LCD.

        config EXAMPLE_LCD_DATA_LINES_16
            bool "16 data lines"

        config EXAMPLE_LCD_DATA_LINES_24
            bool "24 data lines"
    endchoice

    config EXAMPLE_LCD_DATA_LINES
        int
        default 16 if EXAMPLE_LCD_DATA_LINES_16
        default 24 if EXAMPLE_LCD_DATA_LINES_24

    menu "GPIO assignment"
        config EXAMPLE_LCD_VSYNC_GPIO
            int "VSYNC GPIO"
            help
                GPIO pin number for VSYNC signal.
        config EXAMPLE_LCD_HSYNC_GPIO
            int "HSYNC GPIO"
            help
                GPIO pin number for HSYNC signal.
        config EXAMPLE_LCD_DE_GPIO
            int "DE GPIO"
            help
                GPIO pin number for DE signal.
        config EXAMPLE_LCD_PCLK_GPIO
            int "PCLK GPIO"
            help
                GPIO pin number for PCLK signal.
        config EXAMPLE_LCD_DATA0_GPIO
            int "DATA0 GPIO"
            help
                GPIO pin number for data bus[0].
        config EXAMPLE_LCD_DATA1_GPIO
            int "DATA1 GPIO"
            help
                GPIO pin number for data bus[1].
        config EXAMPLE_LCD_DATA2_GPIO
            int "DATA2 GPIO"
            help
                GPIO pin number for data bus[2].
        config EXAMPLE_LCD_DATA3_GPIO
            int "DATA3 GPIO"
            help
                GPIO pin number for data bus[3].
        config EXAMPLE_LCD_DATA4_GPIO
            int "DATA4 GPIO"
            help
                GPIO pin number for data bus[4].
        config EXAMPLE_LCD_DATA5_GPIO
            int "DATA5 GPIO"
            help
                GPIO pin number for data bus[5].
        config EXAMPLE_LCD_DATA6_GPIO
            int "DATA6 GPIO"
            help
                GPIO pin number for data bus[6].
        config EXAMPLE_LCD_DATA7_GPIO
            int "DATA7 GPIO"
            help
                GPIO pin number for data bus[7].
        config EXAMPLE_LCD_DATA8_GPIO
            int "DATA8 GPIO"
            help
                GPIO pin number for data bus[8].
        config EXAMPLE_LCD_DATA9_GPIO
            int "DATA9 GPIO"
            help
                GPIO pin number for data bus[9].
        config EXAMPLE_LCD_DATA10_GPIO
            int "DATA10 GPIO"
            help
                GPIO pin number for data bus[10].
        config EXAMPLE_LCD_DATA11_GPIO
            int "DATA11 GPIO"
            help
                GPIO pin number for data bus[11].
        config EXAMPLE_LCD_DATA12_GPIO
            int "DATA12 GPIO"
            help
                GPIO pin number for data bus[12].
        config EXAMPLE_LCD_DATA13_GPIO
            int "DATA13 GPIO"
            help
                GPIO pin number for data bus[13].
        config EXAMPLE_LCD_DATA14_GPIO
            int "DATA14 GPIO"
            help
                GPIO pin number for data bus[14].
        config EXAMPLE_LCD_DATA15_GPIO
            int "DATA15 GPIO"
            help
                GPIO pin number for data bus[15].
        config EXAMPLE_LCD_DATA16_GPIO
            int "DATA16 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[16].
        config EXAMPLE_LCD_DATA17_GPIO
            int "DATA17 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[17].
        config EXAMPLE_LCD_DATA18_GPIO
            int "DATA18 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[18].
        config EXAMPLE_LCD_DATA19_GPIO
            int "DATA19 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[19].
        config EXAMPLE_LCD_DATA20_GPIO
            int "DATA20 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[20].
        config EXAMPLE_LCD_DATA21_GPIO
            int "DATA21 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[21].
        config EXAMPLE_LCD_DATA22_GPIO
            int "DATA22 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[22].
        config EXAMPLE_LCD_DATA23_GPIO
            int "DATA23 GPIO"
            depends on EXAMPLE_LCD_DATA_LINES > 16
            help
                GPIO pin number for data bus[23].
    endmenu
endmenu
