# Enable the built-in certificate bundle for TLS server verification
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y

# Enable MQTT v5 support in the managed ESP-MQTT component
CONFIG_MQTT_PROTOCOL_5=y
