# Enable Flash auto suspend/resume feature
CONFIG_SPI_FLASH_AUTO_SUSPEND=y
CONFIG_SPI_FLASH_FORCE_ENABLE_XMC_C_SUSPEND=y

# Enable FreeRTOS in Flash feature
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_FREERTOS_PLACE_ISR_FUNCTIONS_INTO_FLASH=y
