menu "libsodium"

    config LIBSODIUM_USE_MBEDTLS_SHA
        bool "Use mbedTLS SHA256 & SHA512 implementations"
        default y
        depends on !MBEDTLS_HARDWARE_SHA
        help
            If this option is enabled, libsodium will use thin wrappers
            around mbedTLS for SHA256 & SHA512 operations.

            This saves some code size if mbedTLS is also used. However it
            is incompatible with hardware SHA acceleration (due to the
            way libsodium's API manages SHA state).

endmenu # libsodium
