# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

# renaming of esp_wifi kconfig options
CONFIG_ESP32_WIFI_ENABLED               CONFIG_ESP_WIFI_ENABLED
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM  CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM
CONFIG_ESP32_WIFI_RX_BA_WIN             CONFIG_ESP_WIFI_RX_BA_WIN
CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED      CONFIG_ESP_WIFI_AMPDU_RX_ENABLED
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM
CONFIG_ESP32_WIFI_TX_BUFFER             CONFIG_ESP_WIFI_TX_BUFFER
CONFIG_ESP32_WIFI_STATIC_TX_BUFFER      CONFIG_ESP_WIFI_STATIC_TX_BUFFER
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER     CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER
CONFIG_ESP32_WIFI_TX_BUFFER_TYPE        CONFIG_ESP_WIFI_TX_BUFFER_TYPE
CONFIG_ESP32_WIFI_STATIC_TX_BUFFER_NUM  CONFIG_ESP_WIFI_STATIC_TX_BUFFER_NUM
CONFIG_ESP32_WIFI_CACHE_TX_BUFFER_NUM   CONFIG_ESP_WIFI_CACHE_TX_BUFFER_NUM
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM
CONFIG_ESP32_WIFI_CSI_ENABLED           CONFIG_ESP_WIFI_CSI_ENABLED
CONFIG_ESP32_WIFI_AMPDU_TX_ENABLED      CONFIG_ESP_WIFI_AMPDU_TX_ENABLED
CONFIG_ESP32_WIFI_TX_BA_WIN             CONFIG_ESP_WIFI_TX_BA_WIN
CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED      CONFIG_ESP_WIFI_AMPDU_RX_ENABLED
CONFIG_ESP32_WIFI_RX_BA_WIN             CONFIG_ESP_WIFI_RX_BA_WIN
CONFIG_ESP32_WIFI_AMSDU_TX_ENABLED      CONFIG_ESP_WIFI_AMSDU_TX_ENABLED
CONFIG_ESP32_WIFI_NVS_ENABLED           CONFIG_ESP_WIFI_NVS_ENABLED
CONFIG_ESP32_WIFI_TASK_CORE_ID          CONFIG_ESP_WIFI_TASK_CORE_ID
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_0 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_0
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_1 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1
CONFIG_ESP32_WIFI_SOFTAP_BEACON_MAX_LEN CONFIG_ESP_WIFI_SOFTAP_BEACON_MAX_LEN
CONFIG_ESP32_WIFI_MGMT_SBUF_NUM         CONFIG_ESP_WIFI_MGMT_SBUF_NUM
CONFIG_ESP32_WIFI_IRAM_OPT              CONFIG_ESP_WIFI_IRAM_OPT
CONFIG_ESP32_WIFI_RX_IRAM_OPT           CONFIG_ESP_WIFI_RX_IRAM_OPT
CONFIG_ESP32_WIFI_ENABLE_WPA3_SAE       CONFIG_ESP_WIFI_ENABLE_WPA3_SAE
CONFIG_ESP32_WIFI_ENABLE_WPA3_OWE_STA   CONFIG_ESP_WIFI_ENABLE_WPA3_OWE_STA

# renaming supplicant kconfig to esp_wifi kconfig
CONFIG_WPA_MBEDTLS_CRYPTO               CONFIG_ESP_WIFI_MBEDTLS_CRYPTO
CONFIG_WPA_MBEDTLS_TLS_CLIENT           CONFIG_ESP_WIFI_MBEDTLS_TLS_CLIENT
CONFIG_WPA_WAPI_PSK                     CONFIG_ESP_WIFI_WAPI_PSK
CONFIG_WPA_SUITE_B_192                  CONFIG_ESP_WIFI_SUITE_B_192
CONFIG_WPA_DEBUG_PRINT                  CONFIG_ESP_WIFI_DEBUG_PRINT
CONFIG_WPA_TESTING_OPTIONS              CONFIG_ESP_WIFI_TESTING_OPTIONS
CONFIG_WPA_WPS_STRICT                   CONFIG_ESP_WIFI_WPS_STRICT
CONFIG_WPA_11KV_SUPPORT                 CONFIG_ESP_WIFI_11KV_SUPPORT
CONFIG_WPA_SCAN_CACHE                   CONFIG_ESP_WIFI_SCAN_CACHE
CONFIG_WPA_MBO_SUPPORT                  CONFIG_ESP_WIFI_MBO_SUPPORT
CONFIG_WPA_DPP_SUPPORT                  CONFIG_ESP_WIFI_DPP_SUPPORT
CONFIG_WPA_11R_SUPPORT                  CONFIG_ESP_WIFI_11R_SUPPORT
CONFIG_WPA_WPS_SOFTAP_REGISTRAR         CONFIG_ESP_WIFI_WPS_SOFTAP_REGISTRAR
