menu "Example Configuration"

    menu "UART Configuration"
        config EXAMPLE_UART_TX_PIN
            int "TXD Pin Number"
            default 25
            range 0 36
            help
                Pin number of UART TX.

        config EXAMPLE_UART_RX_PIN
            int "RXD Pin Number"
            default 26
            range 0 36
            help
                Pin number of UART RX.

        config EXAMPLE_UART_BAUD
            int "UART baud rate"
            default 115200
            help
                Baud rate for UART communication

    endmenu

    config EXAMPLE_UDP_PORT
        int "Port for UDP echo server"
        default 5678
        help
            Port for UDP echo server in example

    config EXAMPLE_IPV4
        bool "Test with IPv4 address"
        default n
        help
            Test interface using IPv4

endmenu
