menu "ESP HID"
    config ESPHID_TASK_SIZE_BT
        int "Task stack size for ESP HID BR/EDR"
        range 2048 10240
        default 2048
        help
            This is the stack size for the BT HID task.
            Default is 2048 bytes.

    config ESPHID_TASK_SIZE_BLE
        int "Task stack size for ESP HID BLE"
        range 2048 10240
        default 4096
        help
            This is the stack size for the BLE HID task.
            Default is 4096 bytes.
endmenu
