menu "Supplicant"

    config WPA_MBEDTLS_CRYPTO
        bool "Use MbedTLS crypto APIs"
        default y
        select MBEDTLS_AES_C
        select MBEDTLS_ECP_C
        select MBEDTLS_ECDH_C
        select MBEDTLS_ECDSA_C
        select MBEDTLS_TLS_ENABLED
        help
            Select this option to use MbedTLS crypto APIs which utilize hardware acceleration.

    if WPA_MBEDTLS_CRYPTO
        config WPA_MBEDTLS_TLS_CLIENT
            bool "Use MbedTLS TLS client for WiFi Enterprise connection"
            default y
            select MBEDTLS_TLS_ENABLED
            help
                Select this option to use MbedTLS TLS client for WPA2 enterprise connection.
                Please note that from MbedTLS-3.0 onwards, MbedTLS does not support SSL-3.0
                TLS-v1.0, TLS-v1.1 versions. Incase your server is using one of these version,
                it is advisable to update your server.
                Please disable this option for compatibilty with older TLS versions.
    endif

    config WPA_WAPI_PSK
        bool "Enable WAPI PSK support"
        depends on SOC_WIFI_WAPI_SUPPORT
        default n
        help
            Select this option to enable WAPI-PSK
            which is a Chinese National Standard Encryption for Wireless LANs (GB 15629.11-2003).

    config WPA_SUITE_B_192
        bool "Enable NSA suite B support with 192 bit key"
        default n
        select ESP_WIFI_GCMP_SUPPORT
        select ESP_WIFI_GMAC_SUPPORT
        help
            Select this option to enable 192 bit NSA suite-B.
            This is necessary to support WPA3 192 bit security.

    config WPA_DEBUG_PRINT
        bool "Print debug messages from WPA Supplicant"
        default n
        help
            Select this option to print logging information from WPA supplicant,
            this includes handshake information and key hex dumps depending
            on the project logging level.

            Enabling this could increase the build size ~60kb
            depending on the project logging level.

    config WPA_TESTING_OPTIONS
        bool "Add DPP testing code"
        default n
        help
            Select this to enable unity test for DPP.

    config WPA_WPS_STRICT
        bool "Strictly validate all WPS attributes"
        default n
        help
            Select this option to enable validate each WPS attribute
            rigorously. Disabling this add the workaorunds with various APs.
            Enabling this may cause inter operability issues with some APs.

    config WPA_11KV_SUPPORT
        bool "Enable 802.11k, 802.11v APIs Support"
        default n
        help
            Select this option to enable 802.11k 802.11v APIs(RRM and BTM support).
            Only APIs which are helpful for network assisted roaming
            are supported for now.
            Enable this option with BTM and RRM enabled in sta config
            to make device ready for network assisted roaming.
            BTM: BSS transition management enables an AP to request a station to transition
            to a specific AP, or to indicate to a station a set of preferred APs.
            RRM: Radio measurements enable STAs to understand the radio environment,
            it enables STAs to observe and gather data on radio link performance
            and on the radio environment. Current implementation adds beacon report,
            link measurement, neighbor report.

    config WPA_SCAN_CACHE
        bool "Keep scan results in cache"
        depends on WPA_11KV_SUPPORT
        default n
        help
            Keep scan results in cache, if not enabled, those
            will be flushed immediately.

    config WPA_MBO_SUPPORT
        bool "Enable Multi Band Operation Certification Support"
        default n
        select WPA_11KV_SUPPORT
        select WPA_SCAN_CACHE
        help
            Select this option to enable WiFi Multiband operation certification support.

    config WPA_DPP_SUPPORT
        bool "Enable DPP support"
        default n
        select WPA_MBEDTLS_CRYPTO
        help
            Select this option to enable WiFi Easy Connect Support.

    config WPA_11R_SUPPORT
        bool "Enable 802.11R (Fast Transition) Support"
        default n
        help
            Select this option to enable WiFi Fast Transition Support.

    config WPA_WPS_SOFTAP_REGISTRAR
        bool "Add WPS Registrar support in SoftAP mode"
        depends on ESP_WIFI_SOFTAP_SUPPORT
        default n
        help
            Select this option to enable WPS registrar support in softAP mode.

endmenu
