/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
.a {
    color: #429b9e !important;
}    
.wy-side-nav-search {
    background-color: #30A497 !important;
}

.toctree-l1 {
    color: #ffffff !important;
}

.toctree-l2 {
    background-color: #ededed !important;
}

.icon-home {
    opacity: 1 !important;
}

#rtd-search-form {
    border-radius: 0px !important;
}
