/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.wy-side-nav-search {
    background-color: #bd2c2a !important;
}

.wy-nav-top {
    background-color: #bd2c2a !important;
}

.wy-nav-top:hover {
  color: #333333 !important;
}

.wy-nav-top a {
  color: #fff !important;
}

.wy-nav-top a:visited {
  color: #fff !important;
}

.wy-side-nav-search input[type=text] {
   border-radius: 0px !important;
   border-color: #333333 !important;
}

.toctree-l1 {
    color: #ffffff !important;
}

.version {
  color: #fff !important;
}

.search {
  border-radius: 10px !important;
}

.icon-home:hover {
  color: #333333 !important;
}

.icon-home:visited {
  color: #fff !important;
}

.icon-home:hover:visited {
  color: #333333 !important;
  background-color: #bd2c2a !important;
}

.wy-form {
  border-radius: 0px !important;
}

a:hover {
  color: #bd2c2a !important;
}

a:visited {
  color: #429b9e !important;
}

a:visited:hover {
    color: #bd2c2a !important;
}

.wy-nav-top a:hover {
  color: #333333 !important;
}
