menu "Example Configuration"

    config LCD_OVERCLOCK
        bool
        prompt "Run LCD at higher clock speed than allowed"
        default "n"
        help
            The ILI9341 and ST7789 specify that the maximum clock speed for the SPI interface is 10MHz. However,
            in practice the driver chips work fine with a higher clock rate, and using that gives a better framerate.
            Select this to try using the out-of-spec clock rate.

    config LCD_SPI_8_LINE_MODE
        bool
        prompt "Drive a LCD with 8 data lines"
        depends on IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default "n"
        help
            This option can be chosen when using 8-line lcd.

endmenu
